body {
  background-image: url("../img/javascriptfondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

div #parrafo p {
  color: rgb(172, 165, 165);
}

.fotoperfil {
  border-radius: 50%;
  height: 212px;
  margin-top: 18px;
}

.contenidoTotal {
  height: 335px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  opacity: 0.9;
}

#parrafo {
  margin-top: -290px;
  margin-left: 205px;
}

h1 {
  width: 460px;
  margin-top: 41px;
  margin-left: 15px;
  font-family: "Inter", sans-serif;
  color: rgb(172, 165, 165);
}

h2 {
  width: 500px;
  margin-left: 15px;
  font-family: "Shadows Into Light", cursive;
  margin-top: -19px;
  color: brown;
}

#textContacto {
  display: flex;
  justify-content: center;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 50px;
  color: rgb(209, 209, 209);
}

.textoproyecto {
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 50px;
  color: rgb(209, 209, 209);
}

.proyectos {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  border-radius: 25px;
}

#div_imagenes {
  display: flex;
  justify-content: center;
  width: 1145px;
  margin-left: 100px;
}

#parrafo_descripcion {
  font-family: "Abel", sans-serif;
  margin-top: 20px;
}

.redes {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.totalImagenes {
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  opacity: 0.9;
}

.iconos a i {
  color: rgb(209, 209, 209);
}

@media (max-width: 576px) {
  .main {
    flex-direction: column;
  }

  .contenidoTotal {
    width: 1220px;
    height: 3013px;
  }

  .fotoperfil {
    width: 50%;
    height: 50%;
    margin-left: 256px;
  }
  h1 {
    width: 500px;
    height: 50%;
  }

  h2 {
    width: 50%;
    height: 50%;
  }
  div #parrafo p {
    width: 100%;
    margin-top: 500px;
  }

  .nombre {
    width: 927px;
    height: 82px;
    font-size: 83px;
    margin-left: 192px;
  }

  .descripcionProfesion {
    font-size: 63px;
    width: 923px;
    margin-left: 161px;
  }
  #parrafo {
    font-size: 50px;
    margin-right: 269px;
    margin-top: -490px;
    margin-left: 170px;
  }

  .proyectos {
    width: 1080px;
    height: 114px;
  }

  .textoproyecto {
    font-size: 96px;
    margin-top: -27px;
  }

  .totalImagenes {
    width: 1230px;
    height: 774px;
    margin-left: -113px;
  }

  #div_imagenes {
    display: flex;
  }

  .redes {
    width: 1000px;
  }
}
